<!-- <p>adminnav works!</p>







<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=" "><span class="text-warning"><b> A-Z</b></span>Library</a>
    <button class="navbar-toggler" type="button" (click)="navbaropen()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" ngclass="('show':navopen)">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=""><b>Home</b> </a>
        </li>
       
        <li class="nav-item dropdown" >
          <a class="nav-link active dropdown-toggle"  (click)="dropdownopen()"  role="button" data-bs-toggle="dropdown"  data-bs-target="dropdown" aria-expanded="false">
            <b> Books</b>
          </a>
          
          <ul class="dropdown-menu" [ngClass]="{'show':dropopen}">
            <li class="dropdown-item" > <b class="text-warning">CATEGORIES</b></li>
            <li><a class="dropdown-item" routerLink="allbooks"><b> All Books</b></a></li>
            <li><a class="dropdown-item" routerLink=""><b>Education</b> </a></li>
            <li><a class="dropdown-item" routerLink=""><b>Financial Books</b> </a></li>
          </ul>
          
        </li>
         <li class="nav-item">
          <a class="nav-link active" routerLink="login"><b>Login</b> </a>
        </li>
    
         <li class="nav-item">
          <a class="nav-link active" ><b>Logout</b> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="addbook"><b>Add Book</b></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success"  type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> 

 -->
